__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
coverage.xml
htmlcov/

**/.uthcode/permissions.toml

build/
dist/
*.egg-info/

.venv/
venv/
env/

.env
.env.*
!.env.example

.mypy_cache/
.pyright/
.ruff_cache/
.tox/
.uthcode/